nav {
  background-color: #201f1a;
  display: flex;
  justify-content: space-between;
  height: 120px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul .iconLeft{
  color: #fff;
  font-size: 30px;
}

nav ul .iconRight{
  color: #fff;
  font-size: 15px;
}

.navRight{
  display: flex;
  margin-right: 50px;
}

nav ul li{
  text-align: center;
  padding: 1px 16px;
}

